
numpy==1.23.5
oauthlib==3.2.2
onnx==1.14.1
onnx-graphsurgeon==0.3.27
onnx-tf==1.10.0
onnx2tf==1.17.5
onnxruntime==1.15.1
opencv-python==4.8.0.76
opencv-python-headless==4.8.0.74
regex==2023.8.8
rich==13.6.0
roboflow==1.1.7
scipy==1.10.1
tensorflow==2.13.0
tf2onnx==1.15.1
torch==2.0.1+cu117
tqdm==4.66.1
visions==0.7.5
